/* your style sheet!! */

body {
     background-image: url('https://github.com/kaushalp88/myWebsite/raw/master/Wallpapers-room_com___Brown_Paper_by_Alexander-GG_1920x1200.jpeg');
     background-color: #e2e2e2;
}


#name_div, #enter_div {
	   box-shadow: 0px 0px 40px #121212;
	   -moz-border-radius: 5px;
	   border-radius: 5px;
	   background-color: #989898;
	   text-align: center;
	   display: table;
}

#name_div p, #enter_div p {
	  display: table-cell;
  	  vertical-align: middle;
  	  text-align: center;
}

#name_div {
	  font-family: 'Trebuchet MS';
	  font-size: 34pt;
	  width: 240px;
	  height: 240px;
	  padding: 30px;
	  position: absolute;
	  z-index: 4;
	  left: 0;
}

#enter_div {
	   font-family: 'Engagement', cursive;
	   font-size: 20pt;
	   height: 40px;
	   width: 40px;
	   padding: 20px;
	   position: absolute;
	   left: 320px;
	   z-index: 5;
	   top: 220px;
}

#container {
	   position: absolute;
	   margin: auto;
	   right: 0; left: 0;
	   top: 0; bottom: 0;
	   width: 800px;
	   height: 500px;
	   }


#projects, #resume, #contact {
	   font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	   font-size: 14pt;
	   position: absolute;
	   right: 0;
	   visibility: hidden;
	   width: 440px;
	   height: 440px;
	   overflow: scroll;
	   background-color: #989898;
	   box-shadow: 0px 0px 40px #121212;
	   -moz-border-radius: 5px;
	   border-radius: 5px;
	   padding: 30px;
}

#side_menu {
	   visibility: hidden;
	   color: #dddddd;
	   font-family: 'Trebuchet MS';
	   font-size: 14pt;
	   position: fixed;
	   width: 240px;
	   height: 240px;
	   padding: 30px;
}

/* link colors */
a:link {color:#FF7766; text-decoration: none;}
a:visited {color:#FF7766; text-decoration: none;}
a:active {color:#FFDD00; text-decoration: none;}
a:hover {color:#FF3300; text-decoration: none;}
